extends layout
style. 
  h1{
    text-align: center;
    color: white;
  }
block content

  h1 Welcome to codeAbite 
  p Welcome to  codeAbite.
  img(src="http://localhost:3000/images/images-pix.jpg", alt="pictures", srcset="")

  p Problem Solving is one of the characteristics of Web Developers or you can say Programmers/software Engineers. codeAbiteis a platform that gives newbie in the tech space an edge over a bunch of software Developers out there, equipping you with formidable skills that will always keep you on-top the tech chain.
  p he average age of programmers is lower compared to other industries. The Software Engineering Statistics 2023 by Kinsta shared surprising facts about being a software developer, one of them is that tech specialists, on average, are quite young. Roughly 60% of programmers are younger than 35, while the median age is 43 ...
    
  p Come on!! it's gonna be a smooth one... 
  p  book a space with us today
  
  figure 
